code:not(pre code) {
  color: #555;
  font-size: 80%;
  font-weight: 100;
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 3px;
}

span.red {
  font-weight: bold;
  color:#FF2600;
}

span.green {
  font-weight: bold;
  color:#008F00;
}

#recent-posts .meta time {
  color: #888888;
  font-size: 100%;
  font-weight: lighter;
}
